// uview-plus 主题定制
$u-primary: #003366;
$u-warning: #FAAD14;
$u-success: #52C41A;
$u-error: #FF4D4F;
$u-info: #1890FF;
$u-main-color: #333333;
$u-content-color: #666666;
$u-tips-color: #999999;
$u-border-color: #E8E8E8;
$u-bg-color: #F5F7FA;
